.container {
  width: 100%;
  height: 100vh;
  background-image: url('../public/images/Rectangle.png');
  background-color: #014F86;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 399px;
  max-height: 720px;
  margin-left: auto;
  margin-right: auto;
  background: #E6EEF0;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 24px;
  text-align: center;
  font-family: 'Noto Serif';
  color: #012a4a;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.underline {
  display: flex;
  max-width: 173px;
  border: 1px solid #000;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
.text_field {
  margin-top: 8px;
}
.form_style {
  margin-top: 23px;
}

.submit_btn {
  display: flex;
  width: 100%;
  height: 52px;
  background: #014F86;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
}
.submit_btn span {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #E6EEF0;
}
.logo {
  max-width: 143px;
  height: 125px;
  margin-left: auto;
  margin-right: auto;
}